body {
  padding-top: 54px;
}

.container {
width:890px !important;
}

#upperRow {
margin-top: 40px;
}

.portfolio-item {
  margin-bottom: 30px;
}


.bgimage {
	background-image: url('../images/ep_naturalwhite.png');
}

.logoNav { 
 background-color: #4aaaa5;
 color: white;
 font-family: 'Georgia', Times, 'Times New Roman', serif;
 font-size: 24px; 
 padding-top: 50px;
 padding-bottom: 20px;
 padding-left: 30px;
 padding-right: 30px;

}

.navbar {
  height: 67px;
  border-bottom: 2px solid #ccc;
  padding-left: 0px;
}

#footer {
  background-color: #666 !important;
  border-top: 4px solid #4aaaa5;
  font-size: 13px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#leftPanel {
  background-color: white;
}

#rightPanel {
  background-color: white;
}

/* Left Panel */

.aboutImage {
  float:left;
  margin-right:10px; 
}

.aboutMe {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  padding-top: 20px;
  margin-left: 24px;
}

.bioText {
  color: #888;
}

#content {
  padding-left: 20px;
  margin-left: 20px;
  padding-right: 15px;
  padding-bottom: 30px;
}


/* ----- Portfolio Images ---- */
.imgLeft {
  float:left;
  padding: 0;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-top:10px;
  position: relative;
}

.imgTitle {
  position: absolute;
  background-color: #4aaaa5;
  color:white;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-size: 20px;
  bottom:18px;
  width:100%;
  padding: 5px 2px;
  text-align: center;
  opacity: 0.9;
}
/* ----- End Portfolio Images ---- */


/* ----- Right Panel ----- */
.connectMe {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  padding-top: 20px;
  margin-left: 50px;
}


/* Social links */
.iconLeft {
  margin-left:30px;
}

.iconCenter {
  margin-left:1px !important;
}

.iconRight {
  margin-left:1px !important;
}

/* Hovers */
.iconLeft:hover {
  opacity: 0.5;
}

.iconCenter:hover {
  opacity: 0.5;
}

.iconRight:hover {
  opacity: 0.5;
}

.logoNav:hover {
opacity: 0.8;
}
/* End Social links */


/* Media queries */
@media (min-width: 992px) {
  body {
    padding-top: 58px;
  }
}