body {
  padding-top: 54px;
}

#upperRow {
margin-top: 40px;
}

.portfolio-item {
  margin-bottom: 30px;
}


.bgimage {
	background-image: url('../images/ep_naturalwhite.png');
}

.logoNav { 
 background-color: #4aaaa5;
 color: white;
 font-family: 'Georgia', Times, 'Times New Roman', serif;
 font-size: 24px; 
 padding-top: 50px;
 padding-bottom: 20px;
 padding-left: 30px;
 padding-right: 30px;

}

.navbar {
  height: 67px;
  border-bottom: 2px solid #ccc;
  padding-left: 0px;
}

#footer {
  background-color: #666 !important;
  border-top: 4px solid #4aaaa5;
  font-size: 13px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#leftPanel {
  background-color: white;
}

#rightPanel {
  background-color: white;
}

.aboutMe {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  padding-top: 20px;
  margin-left: 24px;
}

.connectMe {
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  padding-top: 20px;
  margin-left: 24px;
}

#content {
  padding-left: 20px;
  margin-left: 20px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.aboutImage {
  float:left;
  margin-right:10px; 
}



/* Media queries */
@media (min-width: 992px) {
  body {
    padding-top: 58px;
  }
}